/*  universal class selector and font import */
/*  common classes */
/*  header section */
/*  main section */
/*  feature section */
/*  service section */

/* start of css  */
/* universal class selector and font import*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* common classes */
.title{
    font-size: 40px;
    font-weight: 700;
}
.primary-p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: gray;
    margin: 30px 0px;
}
.primary-btn{
    background-color: #E55473;
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    border: none;
}
/* header section */
#header-section{
    max-height: 80vh;
    background-color: #E554731A;
}
.header-content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-description{
    width: 45%;
}
.head-title{
    font-size: 65px;
    font-weight: 700;
}
.header-img{
    height: 80vh;
    width: 37%;
}
.header-img img{
    margin-top: 10px;
    width: 100%;
}
/* main section */
main{
    width : 80%;
    margin: auto;
}
/* feature section */
#feature-section{
    padding: 130px 0px;
    text-align: center;
}
.feature-collections{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.feature-item{
    width: 30%;
    
}
.feature-img{
    height: 450px;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.feature-img img{
    width: 70%;
}
.feature-tag{
    margin-top: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.pink-color{
    background: #E554731A;
}
.sky-color{
    background: #0597A026;
}
.green-color{
    background: #477D1126;
}
.sky-color img{
    width: 100%;
}
/* service section */
#service-section{
    background: #2727270D;
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}
.service-item{
    margin: 70px 0px 40px;
    text-align: center;
    font-weight: bold;
}
.service-item img{
    width: 70px;
}